i{
	position: absolute;
	top: 10px;
	right: -10px;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/icon.png);
}
.fpassword-m{
	width: 628px;
	margin: 0 auto;
	padding: 20px 0 0 0;
	min-height: 400px;
}
.fpassword-1{
	padding: 20px 0 0 0;
}
.fpassword-1 table{
	border-collapse: collapse;
}
.fpassword-1 td{
	padding: 5px 10px;
	position: relative;
}

.inputwrap {
	position: relative;
	*z-index: 20;	
	width: 220px;
	height: 30px;
	line-height:30px;
	padding: 0 10px;
	border: 1px solid #d9d9d9;
	background: #fff;
}

.inputwrap.focus {
	border: 1px solid #29e;
}

.inputwrap.errorfocus {
	border: 1px solid #f44;
}
.inputwrap.hasContent{
	border: 1px solid #22aa55;
}
.inputwrap input[type="text"],
.inputwrap input[type="password"],
.inputwrap input[type="number"] {
	padding: 0px 10px 0px 10px;
	line-height: 38px;
	font-size: 16px;
	border: 0 none;
}

.smswrap a.getauth {
  display: block;
  width: 150px;
  height: 36px;
  line-height: 36px;
  color: #999;
  text-align: center;
  background: #fff;
  border: 1px solid #29e; 
}

.smswrap a.getauth.success {
  color: #2a5; }

.smswrap.focus a.getauth {
  border: 1px solid #29e;
  color: #29e; }

.smswrap a.getauth.effect:hover {
  background: #29e;
  color: #fff;
  border: 1px solid #29e; }

.smswrap a.getauth.effect:active {
  background: #07c;
  color: #fff;
  border: 1px solid #07c; }

.smswrap a.regetauth {
	width: 150px;
	height: 36px;
	line-height: 36px;
	color: #999 !important;
	text-align: center;
	border: 1px solid #d9d9d9 !important;
	background: #f0f0f0;
}
.nextbt{
	padding: 40px 0 0 160px;
}

a.btn-next {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 230px;
  height: 48px;
  line-height: 48px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  background: #29e; }

a.btn-next:hover {
  background: #00a8ff; }

a.btn-next:active {
  background: #07c; }

.success-icon{
    text-align: center;
    margin: 30px 0 0 0;
    padding:110px 0 0 0;
    font-size: 18px;
    background: url(../images/zhmm-success.jpg) no-repeat center top;
}

.errortip {
	color: #f44;
	font-size: 12px;
}

.righticon{
	background-position: 0 -23px;
}
