#code-area {
         padding-left: 20px;
		}
		#search {
		    padding-top: 10px;
		    min-height: 50px;
		    line-height: 50px;
		}
		.search-common {
		    float: left;
		    min-width: 30%;
		    /*min-width: 200px;*/
		    /*height: 25px;*/
		    line-height: 25px;
		    margin-bottom: 10px;
		}
		.search-common>label {
		    min-width: 70px;
		    text-align: right;
		}
		.search-common>label,
		.search-common>div {
		    float: left;
		    padding-right: 10px;
		}
		.active {
		    background-color: white;
		}
		.education {
		    width: inherit;
		}
		.u-grid-content-focus-row .u-grid-content-td-div > a.other-fun {
		    color: white !important;
		}
		.save-success-new {
		    display: none;
		}