<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd 
      http://code.alibabatech.com/schema/dubbo
      http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- dubbo 配置 -->
	<dubbo:application name="${dubbo.application.name}" logger="${dubbo.application.logger}"/>
	<dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}" file="${dubbo.cache.home}/dubbo-ip.cache"/>
	<!--<dubbo:protocol name="dubbo" serialization="kryo" optimizer="com.ufgov.ip.Serialization.SerializationOptimizerImpl"/>-->
	<!-- <dubbo:protocol name="${dubbo.protocol.name}" port="${dubbo.protocol.port}" serialization="hessian2"/> -->
	<dubbo:protocol name="${dubbo.protocol.name}" port="${dubbo.protocol.port}" serialization="hessian2"/>
	<!-- 
	<dubbo:protocol name="rmi" port="1099" />
	 -->
	 <dubbo:monitor protocol="${dubbo.web.registry}"></dubbo:monitor> <!--绕过注册中心直连monitor，同consumer直连 -->

	<!-- 生产者声明 <dubbo:annotation package="com.yonyougov.fcfa.service" /> -->
	<dubbo:annotation package="com.ufgov.ip.service"/>

</beans>