a:hover {
    color: #2097f1;
    text-decoration: underline;
}
.u-grid-move-bg a {
	color: #333 !important;
}
.u-grid-move-bg a:hover{
	color: #333 !important;
}
.u-grid-header-th{
	border-width:  0px 0px 0px 1px !important;
}
.u-grid-header-th:hover{
	background: #fff;
}
.u-grid-content-focus-row .u-grid-content-tree-span {
    color: white;
}
.u-grid-content-focus-row {
    background-color: #4F8EDC !important;
    color: #FFF !important;
}
.u-grid-content-td-div {
    height: 2.125em !important;
}
.must-set {
    color: red;
}
.tab-pane.active{
	background: white;
}
.duty-info > ul {
    padding-left: 10px;
    height: 36px;
}
#divisionTabContent {
    margin-top: 10px;
    margin-left: 10px;
}
.duty-info .nav-tabs li.active a {
    /*font-weight: bold;*/
    background: #FFF;
    color: #333333;
    border-bottom-color: transparent;
}
.duty-info .nav-tabs li a {
    color: #333333;
    border-radius: 0;
    line-height: 1;
    background-color: white;
    border-bottom-color: #ddd;
}
/*.sub-menu li.active {*/
    /*background-color: #e8f5fe;*/
/*}*/
#division-search-text {
    width: 280px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    color: #b8b8b8;
    font-size: 14px;
    border: 1px solid #e2e2e2;
}
.division-search-btn {
    width: 70px;
    height: 30px;
    line-height: 30px;
    color: white;
    background-color: #229aee;
    border: 0;
    margin-left: 5px;
}
.u-grid td {
    border-width: 0px 0px 1px 1px !important;
    line-height: 25px;
    height: 2.4em;
}
.u-grid-header-link {
    text-align: center;
}
.u-grid-content-td-div {
    text-align: center;
}
#region-grid_content_tbody tr td:first-child div {
     text-align: left;
}
.division-result-content {
    margin-top: 10px;
}
.division-edit-content {
    margin-top: 25px;
}
.division-edit-text p label {
    width: 90px;
    text-align: right;
}
.division-edit-text p input {
    margin-left: 10px;
    padding-left: 10px;
    width: 255px;
    height: 38px;
    border: 1px solid #e1e1e1;
}
.error-notice {
    margin-left: 5px;
    color: red;
    display: none;
}
.notice-care {
    margin-left: 100px;
    color: #ccc;
    font-size: 12px;
    margin-top: -5px;
}
.division-edit-function-btn {
    margin-top: 36px;
    margin-left: 190px;
}
.common-btn {
    width: 72px;
    height: 38px;
    line-height: 38px;
    border: 0;
    color: white;
    font-size: 17px;
}
.division-edit-save {
    background-color: #229aee;
}
.division-edit-back {
    background-color: #7ecef4;
}
.division-edit-back {
    margin-left: 17px;
}
.division-edit-reset {
    margin-left: 17px;
}
#more-division-info-btn {
    width: 38px;
    height: 38px;
    margin-left: -42px;
    /*line-height: 38px;*/
    background-color: #777;
    display: inline-block;
    color: white;
    font-weight: 900;
}
.separator {
    margin-left: 3px;
    margin-right: 3px;
}
.region-fun {
    cursor: pointer;

}
.region-fun:hover{
	color: #fff !important;
}
.u-grid-content-focus-row {
    background-color: #4F8EDC !important;
    color: #FFF !important;
}
.u-grid-content-focus-row a{
	color: #FFF !important;
}
.u-grid-content-focus-row a:hover{
	color: #fff !important;
}
.region-jump-content{
    margin: 100px auto;
}
.region-jump-header {
    background-color: white;
    border-top: 2px solid blue;
}
.region-jump-body {
    padding: 2px 10px 5px 10px;
}
.father-region-tree {
    padding-left: 20px;
    overflow-y: scroll;
    max-height: 300px;
    background-color: #f6f6f6;
}
.jump-content-delete,
.error-notice-content{
    margin: 0 auto;
    margin-top: 165px;
}

.u-grid-content-tree-span {
    width: 1.25em;
    height: 1.25em;
    margin-right: 5px;
    color: #666;
    font-size: 12px !important;
}
.uf {
    -webkit-text-stroke-width:0;
}