.fl {
	float: left;
}
.fr {
	float: right;
}
ul.all-btn{
	padding:10px 0;
}
ul.all-btn{
	float:left;
}
.all-btn li{
	float:left;
}
ul.all-btn li a{
	display:block;
	/*width:60px;
	height: 25px;
	line-height: 25px;*/
	border:1px solid #ccc;
	background:#f9f9f9;
	text-align:center;
	margin-right:7px;
	padding: 5px 10px;
}
ul.all-btn li a:hover{
	color:#333;
	background:#eee;
}
ul.all-btn li a.btn-spe{
	background:#ccc;
	color: #9a9a9a;
}


/*jump*/
.jump-content{
	width:300px;
	background:#fff;
}

/*jump-header*/
.jump-header{
	height:36px;
	line-height:36px;
	background:#208bdb;
}
.jump-header-title{
	margin:0;
	float:left;
	margin-left:12px;
	color:#fff;
	font-family:"微软雅黑";
	font-size:14px;
}
.jump-header-close{
	float:right;
	display:inline-block;
	margin-right:10px;
}

/*jump-body*/
.jump-body{
	padding:20px 0;
	text-align:center;
}
.jump-body-icon span{
	display:inline-block;
	margin-left:5px;
}
/*jump-footer*/
.jump-footer{
	height:36px;
	background:#eee;
	padding-right:8px;
	line-height: 36px;
}
.jump-footer button{
	float:left;
	height:28px;
	padding:0px 16px;
	text-align:center;
	line-height:28px;
	border:none;
	color:#fff;
	margin-left:6px;
}

.jump-footer-btn-left button{
	background:#c92c2c;
}
.jump-footer-btn-right{
	margin-top:4px;}
.jump-footer-btn-right button.jump-btn-save{
	background:#2298ef;
}
.jump-footer-btn-right button.jump-btn-cancel{
	background:#999;
}

/*notice*/
.save-success-new {
	display: none;
	position: absolute;
	top: 200px;
	left: 50%;
	z-index: 100;
	margin-left: -30px;
	font-size: 16px;
	color:#333;
	background: url("images/icon_success.png") no-repeat;
	height: 52px;
    width: 119px;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
}
#save-success-new img,
#delete-success-new img {
	margin-right: 3px;
	margin-bottom: 3px;
}
/* button */
.ip-btn {
	width: 80px;
	height: 25px;
	text-align: center;
	color: white;
}
.ip-btn-default {
	background-color: #f9f9f9;
	border: 1px solid #ccc;
}
.ip-btn-default:hover {
	background-color: #eee;
	border: 1px solid #ccc;
}
.ip-btn-primary {
	background-color: #108ee9;
	border: 1px solid #108ee9;
}
.ip-btn-primary:hover {
	background-color: #1284d6;
	border: 1px solid #1284d6;
}
.ip-btn-disabled {
	background-color: #ddd;
	border: 1px solid #ddd;
}
button[disabled] {
	cursor: not-allowed;
}
.ip-btn-warning {
	background-color: #d0021b;
	border: 1px solid #d0021b;
}
/* font color*/
.ip-font-default {
	color: #333;
}
.ip-font-secondary {
	color: #999;
}
.ip-font-split {
	color: #e0e0e0;
}
.ip-font-link {
	color: #2299ee;
}
.ip-font-error {
	color: #ff0000;
}
/* background color*/
.ip-bg {
	background-color: #edeff0;
}
.ip-bg-left {
	background-color: #f2f2f2;
}
.ip-bg-top {
	background-color: #208dba;
}
/* input color*/
.ip-input {
	width: 200px;
	height: 30px;
	padding-left: 5px;
}
.ip-input-defult {
	border: 1px solid #ececec;
}
.ip-input-defult:focus {
	border: 1px solid #47a0f5;
}
.ip-input-disabled {
	background-color: #f1f1f1;
	border: 1px solid #f1f1f1;
	color: #ccc;
}
html input[disabled] {
	cursor: not-allowed;
}
.ip-input-error {
	border: 1px solid #ff0000;
}
.ip-select-default {
	width: 200px;
	height: 25px;
	border: 1px solid #ececec;
}
/* list style */
ul.show-list li {
	list-style: square;
	height: 25px;
	color: #333;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: 5px;
}
ul.show-list li:hover {
	color: #2299EE;
}
/* icon list style */
.menuiconList {
    width: 175px;
    padding: 2px;
}
.menuiconList li {
    position: relative;
    float: left;
    margin: 4px;
    list-style-type: none;
}
.menuiconList .active {
    position: absolute;
    right: -4px;
    bottom: -4px;
    width: 15px;
    height: 14px;
    background: url("../../pages/ip/menu/images/icon/TaskIcon_03_02.png") no-repeat;
}
